In [5]:
from fuseki_client_util import FusekiClient, FusekiConfig
client = FusekiClient()

Dataset 'sample-dataset' already exists.

In [6]:
client.setup_example_graph()

Dataset 'sample-dataset' already exists.
Loading ttl data...
Turtle data loaded successfully.

In [7]:
client = FusekiClient(FusekiConfig(dataset="bookstore"))
client.load_turtle_file("./ttls/bookstore.ttl")

Dataset 'bookstore' already exists.
Loading ttl file: ./ttls/bookstore.ttl
Loading ttl data...
Turtle data loaded successfully.
Turtle file loaded successfully.

In [8]:
with client.sparql("""
PREFIX : <http://example.org/bookstore/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT ?book ?title
WHERE {
  ?book rdf:type :Book ;
        :title ?title .
}
""") as q:
    result = q.execute_as_df()
result

,book,book_type,title,title_type
0,http://example.org/bookstore/book1,uri,The Great Gatsby,literal
1,http://example.org/bookstore/book2,uri,To Kill a Mockingbird,literal