In [1]:
from fuseki_client_util import FusekiClient, FusekiConfig
client = FusekiClient(FusekiConfig(dataset="authors"))
client.load_turtle_file("./ttls/authors.ttl")

Dataset 'authors' created successfully.
Loading ttl file: ./ttls/authors.ttl
Loading ttl data...
Turtle data loaded successfully.
Turtle file loaded successfully.

In [4]:
with client.sparql("""
PREFIX ex: <http://example.org/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT ?book ?title
WHERE {
  ?book rdf:type ex:Book ;
        ex:title ?title .
}
""") as q:
    result = q.execute_as_df()
result

                       book book_type                  title title_type
0  http://example.org/Book2       uri  To Kill a Mockingbird    literal
1  http://example.org/Book1       uri       The Great Gatsby    literal

In [5]:
with client.sparql("""
PREFIX ex: <http://example.org/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?authorName ?birthDate
WHERE {
  ?author rdf:type ex:Author ;
          ex:name ?authorName ;
          ex:birthDate ?birthDate .
  FILTER (?birthDate < "1900-01-01"^^xsd:date)
}
""") as q:
    result = q.execute_as_df()
result

            authorName authorName_type   birthDate birthDate_type
0  F. Scott Fitzgerald         literal  1896-09-24        literal

In [7]:
with client.sparql("""
PREFIX ex: <http://example.org/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?title ?authorName ?publicationDate
WHERE {
  ?book rdf:type ex:Book ;
        ex:title ?title ;
        ex:author ?author ;
        ex:publicationDate ?publicationDate .
  ?author ex:name ?authorName .
  FILTER (?publicationDate > "1950-01-01"^^xsd:date)
}
ORDER BY ?publicationDate
""") as q:
    result = q.execute_as_df()
result

,title,title_type,authorName,authorName_type,publicationDate,publicationDate_type
0,To Kill a Mockingbird,literal,Harper Lee,literal,1960-07-11,literal